In [764]:
import pandas as pd
import re

In [765]:
import warnings
warnings.filterwarnings("ignore")

In [766]:
pd.set_option('display.max_columns', 1_000)
pd.set_option('display.max_rows', 1_000)

In [767]:
dfs = []

In [768]:
dfs.append(pd.read_csv('../data/toddlers.csv'))

dfs.append(pd.read_csv('../data/teenagers.csv'))

df = pd.concat(dfs)

df.shape

(2016, 75)

In [769]:
df[['title', 'selftext', 'class_target']].head()

,title,selftext,class_target
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1
1,Numberblocks Number Magic Run - Pre-schoolers ...,I Watch this App for Toddlers in Youtube [http...,1
2,He has us both losing it with his repetitive p...,"""See me mommy! See me daddy! See me! See me! S...",1
3,Is it inconsiderate to ask daycare to not let ...,"So, our almost 3 y/o started going to daycare ...",1
4,baby girl frock,[removed],1

In [770]:
df['class_target'].value_counts(normalize=True)

0    0.506944
1    0.493056
Name: class_target, dtype: float64

In [771]:
df['text'] = df['title'] + ' ' + df['selftext']

In [772]:
df[['title', 'selftext', 'class_target', 'link_flair_text', 'text']].head(1)

,title,selftext,class_target,link_flair_text,text
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1,Question,My 2yo doesn’t like the potty. Hey!\n\nI’ve be...

In [773]:
df[['title', 'selftext']].duplicated().sum()

0

In [774]:
df.drop_duplicates(subset=['title', 'selftext'], inplace=True)

In [775]:
df.shape

(2016, 76)

In [776]:
df.reset_index(drop=True, inplace=True)

In [777]:
df.shape

(2016, 76)

In [778]:
df['title_char_count'] = df['title'].map(len)

df['title_word_count'] = df['title'].map(lambda x: len(x.split()))

df['selftext_char_count'] = df['selftext'].map(str)

df['selftext_char_count'] = df['selftext_char_count'].map(len)

df['selftext_word_count'] = df['selftext'].map(str)

df['selftext_word_count'] = df['selftext_word_count'].map(lambda x: len(x.split()))

In [779]:
FEATURES = ['title', 'selftext', 'class_target', 'text', 
            'title_char_count', 'title_word_count', 
            'selftext_char_count', 'selftext_word_count']

In [780]:
df[FEATURES].head(1)

,title,selftext,class_target,text,title_char_count,title_word_count,selftext_char_count,selftext_word_count
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1,My 2yo doesn’t like the potty. Hey!\n\nI’ve be...,30,6,628,121

In [781]:
df[FEATURES].isnull().sum().sort_values(ascending=False)

text                   44
selftext               44
selftext_word_count     0
selftext_char_count     0
title_word_count        0
title_char_count        0
class_target            0
title                   0
dtype: int64

In [782]:
df_copy = df

In [783]:
df = df[FEATURES]

In [784]:
df.shape

(2016, 8)

In [785]:
df.isnull().sum().sort_values(ascending=False)

text                   44
selftext               44
selftext_word_count     0
selftext_char_count     0
title_word_count        0
title_char_count        0
class_target            0
title                   0
dtype: int64

In [786]:
df.dropna(inplace=True)

In [787]:
df.shape

(1972, 8)

In [788]:
df['class_target'].value_counts(normalize=True)

0    0.507099
1    0.492901
Name: class_target, dtype: float64

In [789]:
df['flair'] = df_copy['link_flair_text']

In [790]:
df.head(1)

,title,selftext,class_target,text,title_char_count,title_word_count,selftext_char_count,selftext_word_count,flair
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1,My 2yo doesn’t like the potty. Hey!\n\nI’ve be...,30,6,628,121,Question

In [791]:
df['text'] = df['text'].map(str)

df['text'] = df['text'].map(lambda x: re.sub('\d+ ', '', x))

df['text'] = df['text'].map(lambda x: re.sub('_', ' ', x))

df['text'] = df['text'].map(lambda x: re.sub('a{3,}', 'a', x))

df['text'] = df['text'].map(lambda x: re.sub('\\n', ' ', x))

In [792]:
"""
df['text'] = df['text'].map(lambda x: re.sub('’', '', x))
df['text'] = df['text'].map(lambda x: re.sub('\\n', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('\.', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('!', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('“', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('”', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('/', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub(',', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('\?', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('-', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('\)', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('\(', ' ', x))
df['text'] = df['text'].map(lambda x: re.sub('\'', '', x))
""";

In [793]:
df['text'][999]

'The cost of raising a child who likes to work on stuff I have a teenage son who likes to work on motorcycles and vehicles. This is generally great because I work on machines too and many times we work together. I got him a set of tools that rivals my own... yet he still borrows mine frequently and well, how to put this gently... he loses or misplaces my tools all the time, so when I go to work on something, I waste so much time looking for them. It seems no amount of reminding him to put them back where they belong. Of course I’ve thought about locking them up, but I’d so much rather be able to simply trust him. I’ve come to the realization that maybe lost tools are just part of the cost of having an otherwise fantastic son. I figure once he moves out of the house I’ll replace what I need and be glad for the times we got to fix stuff together. Is this just giving up, being too complacent while letting him have his way or should I put my foot down and demand he respect my stuff right now as long as he lives with me?'

In [794]:
df.shape

(1972, 9)

In [795]:
df.to_csv('../data/subreddits.csv', index=False)