In [216]:
import pandas as pd

In [217]:
pd.set_option('display.max_columns', 1_000)
pd.set_option('display.max_rows', 1_000)

In [218]:
dfs = []

In [219]:
dfs.append(pd.read_csv('../data/toddlers.csv'))

In [220]:
dfs.append(pd.read_csv('../data/teenagers.csv'))

In [221]:
df = pd.concat(dfs)

In [222]:
df.shape

(2016, 75)

In [223]:
df[['title', 'selftext', 'class_target']].head()

,title,selftext,class_target
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1
1,Numberblocks Number Magic Run - Pre-schoolers ...,I Watch this App for Toddlers in Youtube [http...,1
2,He has us both losing it with his repetitive p...,"""See me mommy! See me daddy! See me! See me! S...",1
3,Is it inconsiderate to ask daycare to not let ...,"So, our almost 3 y/o started going to daycare ...",1
4,baby girl frock,[removed],1

In [224]:
df['class_target'].value_counts(normalize=True)

0    0.506944
1    0.493056
Name: class_target, dtype: float64

In [225]:
df['text'] = df['title'] + ' ' + df['selftext']

In [226]:
df[['title', 'selftext', 'class_target', 'link_flair_text', 'text']].head()

,title,selftext,class_target,link_flair_text,text
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1,Question,My 2yo doesn’t like the potty. Hey!\n\nI’ve be...
1,Numberblocks Number Magic Run - Pre-schoolers ...,I Watch this App for Toddlers in Youtube [http...,1,NaN,Numberblocks Number Magic Run - Pre-schoolers ...
2,He has us both losing it with his repetitive p...,"""See me mommy! See me daddy! See me! See me! S...",1,NaN,He has us both losing it with his repetitive p...
3,Is it inconsiderate to ask daycare to not let ...,"So, our almost 3 y/o started going to daycare ...",1,Question,Is it inconsiderate to ask daycare to not let ...
4,baby girl frock,[removed],1,NaN,baby girl frock [removed]

In [227]:
df[['title', 'selftext']].duplicated().sum()

0

In [228]:
df.drop_duplicates(subset=['title', 'selftext'], inplace=True)

In [229]:
df.shape

(2016, 76)

In [230]:
df.reset_index(drop=True, inplace=True)

In [231]:
df.shape

(2016, 76)

In [232]:
df['title_char_count'] = df['title'].map(len)

In [233]:
df['title_word_count'] = df['title'].map(lambda x: len(x.split()))

In [234]:
df['selftext_char_count'] = df['selftext'].map(str)

In [235]:
df['selftext_char_count'] = df['selftext_char_count'].map(len)

In [236]:
df['selftext_word_count'] = df['selftext'].map(str)

In [237]:
df['selftext_word_count'] = df['selftext_word_count'].map(lambda x: len(x.split()))

In [238]:
FEATURES = ['title', 'selftext', 'class_target', 'text', 
            'title_char_count', 'title_word_count', 
            'selftext_char_count', 'selftext_word_count']

In [239]:
df[FEATURES].head(1)

,title,selftext,class_target,text,title_char_count,title_word_count,selftext_char_count,selftext_word_count
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1,My 2yo doesn’t like the potty. Hey!\n\nI’ve be...,30,6,628,121

In [240]:
df[FEATURES].isnull().sum().sort_values(ascending=False)

text                   44
selftext               44
selftext_word_count     0
selftext_char_count     0
title_word_count        0
title_char_count        0
class_target            0
title                   0
dtype: int64

In [241]:
df_copy = df

In [242]:
df = df[FEATURES]

In [243]:
df.shape

(2016, 8)

In [244]:
df.isnull().sum().sort_values(ascending=False)

text                   44
selftext               44
selftext_word_count     0
selftext_char_count     0
title_word_count        0
title_char_count        0
class_target            0
title                   0
dtype: int64

In [245]:
df.dropna(inplace=True)

<ipython-input-245-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [246]:
df.shape

(1972, 8)

In [247]:
df['class_target'].value_counts(normalize=True)

0    0.507099
1    0.492901
Name: class_target, dtype: float64

In [248]:
df['flair'] = df_copy['link_flair_text']

<ipython-input-248-4c280e98de4b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['flair'] = df_copy['link_flair_text']

In [249]:
df.head(1)

,title,selftext,class_target,text,title_char_count,title_word_count,selftext_char_count,selftext_word_count,flair
0,My 2yo doesn’t like the potty.,Hey!\n\nI’ve been trying to potty train my dau...,1,My 2yo doesn’t like the potty. Hey!\n\nI’ve be...,30,6,628,121,Question

In [590]:
df['text'] = df['text'].map(str)

In [591]:
df['text'] = df['text'].map(lambda x: re.sub('\d+ ', '', x))

In [592]:
df['text'] = df['text'].map(lambda x: re.sub('_', ' ', x))

In [593]:
df['text'] = df['text'].map(lambda x: re.sub('a{3,}', 'a', x))

In [251]:
df.shape

(1972, 9)

In [250]:
df.to_csv('../data/subreddits.csv', index=False)